@font-face {
    font-family: "F1";
    src: url("/static/fonts/Formula1-Regular.otf") format("opentype");
}

:root {
    --f1Red: #e10600;
    --stdGray: #bbbbbb;
    --secondaryColor: darkred;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--f1Red);
    font-family: "F1";

}

header{
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: var(--secondaryColor);
    box-shadow: 0 2px 3.84px rgba(0, 0, 0, 0.25);
}

#f1Logo{
    height:80%;
    margin: 10px auto;
}

a{
    text-decoration: none 
}