p {
    font-size: x-large;
}

#raceList{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}

.racePicture{
    max-height: 30vh;
    max-width: 30vw;

}


.raceClass{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: solid 10px rgb(86, 44, 44);
    background-color: var(--stdGray);

    text-align: center;

    margin: 60px auto;
    width: 40vw;
    height: 40vh;
}