{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mainPage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
{% endblock %}

{% block content %}

<main>

    <div id="raceList">
        {% for session_key, country_name, year in session_country_list %}
        <div class="raceClass" id="{{ session_key }}">
            <a href="{{ url_for('race_view') }}"><img class="racePicture"
                    src="{{ url_for('static', filename='images/Singapore_Circuit.avif') }}"
                    alt="Picutre of Singapore Circuit">
                <p>{{ country_name }} {{ year }}</p>
        </div>
        {% endfor %}
    </div>

</main>
{% endblock %}