{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/raceview.css') }}"> 
{% endblock %}

{% block content %}
<main>
    <button id = "return-button" ><a href="{{ url_for('index') }}">
        <p>Return</p>
    </a></button>

    <script>
function fetchCoordinates() {
    fetch('/get-coordinates')
    .then(response => response.json())
    .then(coordinates => {
        var test = document.getElementById("test-driver");
        var coordinateIndex = 0;

        // Scale factor for coordinates
        const scaleFactor = 10;

        setInterval(function() {
            if (coordinateIndex < coordinates.length) {
                var x = coordinates[coordinateIndex][0] / scaleFactor;  // Dividing by scaleFactor
                var y = coordinates[coordinateIndex][1] / scaleFactor;  // Dividing by scaleFactor
                test.style.left = x + 'px';
                test.style.top = y + 'px';
                coordinateIndex++;
            }
        }, 100); // Adjust interval as needed
    })
    .catch(error => {
        console.error('Error fetching coordinates:', error);
    });
}
    </script>
    <div id="race-track">
        <div id="test-driver"></div>
    </div>
    
    <div id="buttonDiv">
        <button class ="nextPreviousButtons" name="next" onclick="movebackwards()">-</button>
        <button class ="nextPreviousButtons" name="previous" onclick="fetchCoordinates()">+</button>
    </div>
    
</main>
{% endblock %}