{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/mainPage.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
{% endblock %}

{% block content %}

<main>

    <div id="raceList">
        {% for session_key, country_name, year in session_country_list %}
        <a class="raceClass" id="{{ session_key }}" href="{{ url_for('race_view') }}"
            onclick="setCurrentSessionID('{{ session_key }}')"><img class="racePicture"
                src="{{ url_for('static', filename='images/Singapore_Circuit.avif') }}"
                alt="Picutre of Singapore Circuit">
            <p>{{ country_name }} {{ year }}</p>
        </a>
        {% endfor %}
    </div>

</main>





{% endblock %}