{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/raceview.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}">
<script src="/static/js/updateCar.js"></script>
<script src ="/static/js/createRacetrack.js"></script>
<script src ="static/js/raceviewOnLoad.js"></script>

{% endblock %}

{% block content %}
<main>
    <div id="driverStandings">
        <ol>
            <li>Verstappen</li>
            <li>Norris!!</li>
        </ol>
    </div>
    <div id="middleContainer">
        <div id="infoBar">
            <a href="{{ url_for('index') }}">
                <i class="fa-solid fa-arrow-left fa-xl"></i>
            </a></button>
            <div class="infoBarItem">Singapore</div>
            <div class="infoBarItem">Lap 5/57</div>  
        </div>
        <div id="buttonDiv">
            <button class ="nextPreviousButtons" name="next" onclick="movebackwards()">-</button>
            <button class ="nextPreviousButtons" name="previous" onclick="fetchCoordinates('2023-09-17T13:00:00', 0)">Start</button>
        </div>
        <div id="raceTrack">
            <div id="testDriver"></div>         
        </div>
        <div id="timeControlSlideContainer">
            
            <input type="range" min="0" max="720" value="0" id="timeSliderInput" onchange="fetchCoordinates('2023-09-17T13:00:00', this.value)">
            <label for="timeSliderInput">Time Control</label>
            <p id="time"></p>
            
        </div>
    </div>
    <div id="filterContainer">
        <form>
            -> Filter <br>
            <!--Ladda in befintliga förare i specifika racet här -->
            <input type="checkbox" id="driver1" name="driver1" checked > 
            <label for="vehicle1"> Verstappen </label><br>
            <input type="checkbox" id="driver2" name="driver2" checked >
            <label for="vehicle2"> Sainz</label><br>
            <input type="checkbox" id="driver3" name="driver3" checked >
            <label for="vehicle3"> Bottas </label><br>
        </form>
    </div>
</main>
{% endblock %}
